
/* lien pour supprime arrie plan d'une photo
https://www.remove.bg/fr/upload*/

body{
  
    background-color:rgba(251, 242, 227, 0.918);
    /*background: linear-gradient(rgba(37, 33, 30, 0.953),rgb(231, 196, 113));
   */ padding: 0em;
    margin: 0em;
}


.color_menu{
 /* background-color: rgb(237, 216, 189);;*/
  background : linear-gradient(rgb(246, 93, 10),rgba(250, 247, 241, 0.918));
 padding-top: 2em;
  /*border: 2px solid black;*/
  
}


header
{
  display: flex;
  justify-content: center;
   /*border : 2px #0a0ae8 solid;*/
  
   
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(239, 236, 229, 0.733) ;
  backdrop-filter: blur(10px);  /* la couelur du flou */ 
  border-radius: 25px;
  
  align-items:center;
  padding:10px;
  width: 600px;
  padding: 1em;
  
  /*flex-direction: column;
  border : 2px #e7c3b5 solid;*/
  position:fixed; /*sa fixe le trux meme quand on se deplce il reste toujour au meme endroit*/
  top: 20px; /* pour qu'il soit en haut */
  z-index: 1;

  

}


.slogan{
  /*
  font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;*/
    font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 2em;
    color: #131212;
}
h1{
 /* font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-align: left;*/


  font-family: "Abril Fatface", serif;
  font-weight:400;
  font-style: normal;
  font-size: 5em;
  color: rgb(252, 135, 1);
  padding-left:0.5em;
}

.h1_videobox{
  position: absolute;
  z-index: 3; /* pour le mettre en avant*/
}

img[title="logo"]{
  width: 1em;
  height: 1em;
  object-fit: cover; /*l'image ne sera pas deformer */ 
  border-radius: 15px;
 opacity: 0.9;
 position: fixed;
 
 
}
  
video {
  width: 100%;
  height: 20%;

}
.videobox {

  height: 20%;
}
h2 {
  /*font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;


  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;*/

 

  font-weight: 350;
  font-style: oblique;
  text-align: center;
  font-size: 4em;
}

h3 {
  /*
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  font-family: "Edu AU VIC WA NT Pre", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  */
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

  color: rgb(255, 77, 0);
  /*color: #e8490a;*/
  font-size: 5em;
  padding-left: 3em;
 /* background-color: aliceblue;*/
  
  

}

/*non_s conerpond a non souligner pour le lien*/
.non_s{
  font-size: 1.2em;
  text-decoration : none; 
  color : rgb(37, 30, 17);
  padding:0.5em;

}
nav a
{
      /*font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    /*
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;*/
    font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* le z-index c'est comme les clauqe on 1er plan arrie plan le numero indiquer sa position*/ 
  border-radius: 12px ;
  
  /*animation
  quand on va survol le menu sa va apparaittre en gros selon la taile que j'ai dans le scale() changer et met 5 pour voir plus grand
  */

  /*
  transition-property: transform ;  pour indiquer au navigateur que en doit applique transition 
  transition-duration: 500ms; c'est pour avoir plus de fluiditer 
  */
  transition: transform 200ms, background-color 300ms 150ms; /*pour avoir un effet quand on sort du survol */ 

  &:hover{
   /* transition: transform 400ms ;  /*il produit la meme chose que celle d'haut */  
    transform: scale(1.5);
     background-color: rgb(255, 77, 0);
     color: beige;
     z-index: 1;
  }
  
 
  
}
.crea {
  display: flex;
  flex-direction: row;
  gap: 3em;
  margin-left: 10em;
  /*background-color: rgb(224, 238, 238);
  border: 2px solid rgb(247, 130, 13);*/
  

}
.crea p {
  /*background-color: aqua;*/
  border: 2px solid rgb(238, 206, 192);;
  margin-right: 10em;
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  padding: 0.5em;
  color: #131212;
 

  
  
}
.crea img{
  width: 15em ;
  height: 17em;
  border: 1px solid rgba(250, 248, 247, 0.9);
 
  transition: transform 200ms, 150ms;
  
  &:hover{
  
   /* transition: transform 100ms;*/
    transform: scale(1.5);
    margin-bottom: 3em;
    margin-top: 3em;
    
    z-index: 0;
  }
}
/*
img[title="mabawa"],img[title="sushi"],img[title="pizza"]
{
  &:hover{
  
    transition: transform 300ms;
    transform: scale(1);
    margin: 5em;
    z-index: 0;
}
}*/
img[alt="fleche"]{
  width: 5em;
  height: 5em;
  object-fit: cover;
  /*background: linear-gradient(rgba(255, 251, 4, 0.977),rgb(243, 121, 15));
  */
  background-color: rgb(255, 77, 0);;
  
 border: 2px solid rgba(245, 241, 241, 0.088);
  border-radius: 25px;
  
  transition: transform 200ms, 150ms;
  &:hover{
  
    /*transition: transform 100ms;*/
    transform: scale(1.5);
    
    z-index: 0;
}
}


h3 a {
  text-decoration: none;
  /*color: #e8490a;*/
  color: rgb(255, 77, 0);
 /* background: linear-gradient(orange,orangered);*/
}
.box_sec{

 /* background-color: #e3d0c8;
  border: 2px solid rgba(228, 129, 7, 0.734);*/
  border-radius: 12px;

  margin-left: 7em;
  width: 80em;
  display: flex;
  flex-direction: row;
  
  justify-content: space-around;
  
}
.box_1 , .box_2, .box_3 , .box_4{
  border-radius: 45px;
  
  background-color: rgb(255, 0, 0);
  padding: 3em;
  
  font-size: 1.5em;
  /*
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  */
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fbfaf9;
  
  transition: transform 200ms, 150ms;

  &:hover{
  
    /*transition: transform 200ms;*/
    transform: scale(1.2);
    margin: 1em;
    
    z-index: 0;
}
 
}


.equipe{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 8em; /*sa met des espace entre les element dans le flex */
  
}

section p {
  /*font-size: 1em;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;*/

    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
 


 
  
}/*
.prahada{
  
  bottom: 0px;
  left: 52%;
}
.pmanon{
  margin-right: 10em;
 

}
.psarah{
  margin-right: 5.5em;
  padding-left: 3em;
  
}
.ploann{
margin-right: 4em;
}
*/
img[title="Rahada"] {
  /*border: 2px solid  black;*/
  border-radius: 130px; /*99% 1% 78% 22% / 37% 51% 49% 63% ;
/*  border: 2px solid orangered;*/
  height: 20em;
  display: inline;
  /*align-items: center;
  text-align: center;*/
  

}

img[title="Manon"] {
  /*border: 2px solid  black;*/
  border-radius: 130px;
  height: 20em;
  display: inline;

  

}
img[title="Sarah"] {
  /*border: 2px solid  black;*/
  border-radius: 130px;
  height: 20em;
  display: inline;
 

}
img[title="Loann"] {
  
  border-radius: 110px;
  height: 20em;
  display: inline;
  
 

}
.manon{

  
  transition: transform 200ms, 150ms;
  &:hover{
  
  transition: transform 400ms;
  transform: scale(1.5);
  padding-bottom: 4em;
  z-index: 0;
  }

}
.rahada{

  transition: transform 200ms, 150ms;
  &:hover{
  
  transition: transform 400ms;
  transform: scale(1.5);
  padding-bottom: 4em;
  z-index: 0;
  }
  
}
.sarah{
  transition: transform 200ms, 150ms;
  &:hover{
  
  transition: transform 400ms;
  transform: scale(1.5);
  padding-bottom: 4em;
  z-index: 0;
  }

}
.loann{
  transition: transform 200ms, 150ms;
  &:hover{
  
  transition: transform 400ms;
  transform: scale(1.5);
  padding-bottom: 4em;
  z-index: 0;
  }

}
.equipe p {
  
  background: linear-gradient(rgb(255, 0, 0),rgba(241, 243, 196, 0.907));
    /*
   background:  rgb(249, 182, 94);*/
    padding: 0.5em;
    font-size: 1em;
    font-weight: 600;
   /* border: 2px solid rgb(252, 153, 5); */
    color: rgb(255, 252, 252);
    border-radius: 15px;
   
}

.projet{
    display: flex;
    flex-direction: row;
   /* background-color: #83756f;*/
    gap: 10em 
}
.projet p {
  text-decoration: none;
 
  margin-top: 4em;
  padding: 1em;
  margin-bottom: 8em;
  color: rgb(247, 247, 247);
  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  
  font-style: oblique;
  font-weight: bold;
  font-weight: 1000;*/
  border-radius: 24px;
 /* border: 2px solid rgb(221, 130, 12);*/
  background: linear-gradient(rgb(255, 0, 0),beige);
  font-size: 1.5em;
  /*
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;*/
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;

    transition: transform 200ms, 150ms;
  &:hover{
  
    /*transition: transform 100ms;*/
    transform: scale(1.5);
    
    z-index: 0;
}
}

footer{
  padding: 2em;
  /*background-color: rgb(221, 130, 12);*/
 background : linear-gradient(rgba(250, 247, 241, 0.918),rgb(254, 106, 1));

  padding-bottom: 2em;
  
}

footer div p[id="titre"] {

  text-align: center;
/*
  font-weight: 1000;
  font-style: oblique;*/
  font-family: "Protest Revolution", serif;
  font-weight: 400;
  font-style: normal;


}
footer p {
  text-align: center;
  /*
  /*font-weight: 800;
  font-style: oblique;*/
  
  font-style: normal;

}
footer a img{

  height: 2.5em;
  width: 2.5em;
  margin:1.5em;
  /*
  pour voir le padding
  padding: 4em;
  background-color: #b65027;*/

  
}
a {
  text-decoration: none;
}
@media screen and(max-width: 420px)
{

 body{
  background-color: aquamarine;

 }



  
}